/*  Structure

1.  Fonts including
2.  General styles
3.  Header
4.  Slider
5.  Book Items
6.  Tabs
7.  Fishing
8.  Cars
9.  Form
10. Footer

*/

/* 1. Fonts including */
@font-face {
    font-family: "Montserrat-Light";
    font-style: normal;
    font-weight: bold;
    src: url("../fonts/MontserratLight/Montserrat-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/MontserratLight/Montserrat-Light.woff") format("woff"), url("../fonts/MontserratLight/Montserrat-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat-Regular";
    font-style: normal;
    font-weight: bold;
    src: url("../fonts/MontserratRegular/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/MontserratRegular/Montserrat-Regular.woff") format("woff"), url("../fonts/MontserratRegular/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat-Bold";
    font-style: normal;
    font-weight: bold;
    src: url("../fonts/MontserratBold/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/MontserratBold/Montserrat-Bold.woff") format("woff"), url("../fonts/MontserratBold/Montserrat-Bold.ttf") format("truetype");
}

/* 2. General styles */
$padding-standart: 150px 0px;
$padding-small: 50px 0px;
$typography-color-standart: 16px;
$dark: #212121;
$white: #fff;
$blue: #1a2031;
$light-blue: #343c53;
$button-blue: #5f74af;

body {
    color: $blue;
    letter-spacing: 1px;
    font-family: 'Montserrat-Regular', sans-serif;
    min-width: 320px;
    max-width: 100%;
    font-size: $typography-color-standart;
    letter-spacing: 0;
}

section {
    padding: $padding-standart;
    text-align: center;

    @media only screen and (max-device-width: 991px) {
        padding: $padding-small;
    }
}

h1,
h2 {
    font-size: 2rem;
    font-family: 'Montserrat-Light', sans-serif;
    color: $blue;
}

h1 {
    @media only screen and (max-device-width: 767px) {
        font-size: 1.5rem;
    }
}


/* 3. Header */
header {
    background-color: $blue;
    height: auto;
    padding: 20px 0;

    @media only screen and (max-device-width: 767px) {
        padding: 16px 0 20px 0;
    }

    .top-bar {
        .logo-box {

            @media only screen and (max-device-width: 767px) {
                text-align: center;
                margin-bottom: 5px;
            }

            @media only screen and (max-device-width: 400px) {
                margin-bottom: 12px;
            }

            a {
                font-family: 'Montserrat-Bold', sans-serif;
                color: $white;
                font-size: 35px;
                line-height: 34px;
                letter-spacing: -2px;
                transition: .2s;
                font-weight: 300;

                @media only screen and (max-device-width: 991px) {
                    line-height: 31px;
                }

                @media only screen and (max-device-width: 400px) {
                    font-size: 29px;
                }
            }

            a:hover {
                text-decoration: none;
            }
        }

        .social-icons-box {

            .social-wrapper {
                float: right;
            }

            a {
                margin-right: 10px;
                padding: 5px 12px;
                background-color: $light-blue;
                border-radius: 50%;
                display: block;
                float: left;
            }

            a:last-child {
                margin-right: 0px;
            }

            i {
                color: #a9b3d1;
                font-size: 1rem;
                transition: .2s;
                margin-top: 2px;
            }

            a:hover i {
                color: $white;
            }

            .wrapper-info {
                float: right;
                color: $white;
                font-size: 12px;
                letter-spacing: 0;

                @media only screen and (max-device-width: 991px) {
                    float: right;
                }

                @media only screen and (max-device-width: 767px) {
                    font-size: 10px;
                    width: 100%;
                }

                .status-box {
                    float: left;
                    z-index: 999;

                    @media only screen and (max-device-width: 1199px) {
                        margin-right: 10px;
                    }

                    @media only screen and (max-device-width: 835px) {
                        margin-right: 50px;
                    }

                    @media only screen and (max-device-width: 767px) {
                        margin: 0 auto;
                        float: unset;
                        width: 270px;
                    }

                    a {
                        padding: 8px 25px;
                        background-color: $light-blue;
                        color: $white;
                        display: inline-block;
                        border-radius: 30px;
                        transition: .2s;
                        float: left;
                        font-size: 14px;
                        margin-right: 10px;

                        @media only screen and (max-device-width: 1199px) {
                            padding: 8px 21px;
                            font-size: 12px;
                            margin-right: 5px;
                        }
                    }

                    a:nth-child(2) {
                        @media only screen and (max-device-width: 991px) {
                            display: none;
                        }
                    }

                    a:last-child {
                        background-color: #495e9c;
                        margin-right: 0;
                    }

                    a:hover {
                        text-decoration: none;
                        box-shadow: 1.563px 8.863px 20px 0 rgba(0, 0, 0, 0.3);
                        background-color: $white;
                        color: $light-blue;
                    }

                    a:last-child:hover {
                        background-color: $button-blue;
                        color: $white;
                    }

                    .pop-up-box {
                        width: 100%;
                        height: 100%;
                        background-color: rgba(36, 36, 36, 0.99);
                        position: fixed;
                        top: 0;
                        left: 0;
                        z-index: 9999;
                        text-align: center;
                        padding-top: 10%;
                        display: none;
                        overflow: hidden;

                        @media only screen and (max-device-width: 575px) {
                            padding-top: 70px;
                        }

                        .widget-layout {
                            @media only screen and (max-device-width: 575px) {
                                max-width: 300px;
                                overflow: hidden;
                                margin: 0 auto;
                            }
                        }

                        .close-box {
                            width: 40px;
                            height: 40px;
                            padding: 0;
                            background-color: transparent;
                            color: $white;
                            font-size: 25px;
                            position: fixed;
                            top: 10px;
                            right: 10px;
                            cursor: pointer;

                            @media only screen and (max-device-width: 575px) {
                                top: 5px;
                                right: 5px;
                            }
                        }

                        .close-box:hover {
                            box-shadow: none;
                        }
                    }

                    a:hover i {
                        color: $dark;
                    }

                    i {
                        display: block;
                        float: left;
                        margin-right: 5px;
                    }

                    span {
                        margin-top: -2px;
                    }
                }

                .adress {
                    i {
                        font-size: 14px;
                        margin-right: 2px;
                    }
                }
            }
        }

        .social-icons-box.media-box {
            @media only screen and (max-device-width: 991px) {
                display: none;
            }
        }
    }

    .nav-box {

        nav.horizontal {
            text-align: center;

            @media only screen and (max-device-width: 991px) {
                display: none;
            }

            ul {
                padding: 0;
            }

            li {
                list-style: none;
                display: inline-block;
                margin-right: 75px;

                @media only screen and (max-device-width: 1199px) {
                    margin-right: 40px;
                }
            }

            li:last-child {
                margin-right: 0px;
            }

            a {
                color: $white;

                transition: .2s;
                font-family: 'Montserrat-Bold', sans-serif;
                font-weight: bold;
            }

            a:hover {
                text-decoration: none;
                color: $blue;
                border-bottom: solid 1px $blue;
            }

            li.current-menu-item a {
                text-decoration: none;
                color: $blue;
                border-bottom: solid 1px $blue;
            }
        }
    }

    /* Mobile navigation */
    .toggle_mnu {
        width: 60px;
        height: 60px;
        position: fixed;
        z-index: 100;
        border: none;
        right: 20px;
        top: 5px;
        background: $blue;
        display: none;
        z-index: 999;

        @media only screen and (max-device-width: 991px) {
            display: block;
        }

        @media only screen and (max-device-width: 767px) {
            right: 5px;
        }

        @media only screen and (max-device-width: 400px) {
            top: 0;
        }



        span {
            display: block;
        }
    }

    .toggle_mnu:hover {
        cursor: pointer;
    }

    .sandwich {
        width: 28px;
        height: 28px;
        position: absolute;
        top: 8px;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        z-index: 200;
    }

    .sw-topper {
        position: relative;
        top: 0;
        width: 28px;
        height: 3px;
        background: $white;
        border: none;
        border-radius: 4px 4px 4px 4px;
        -webkit-transition: -webkit-transform 0.5s, top 0.2s;
        transition: transform 0.5s, top 0.2s;
        display: block;
    }


    button:focus {
        outline: 0;
    }

    .sw-bottom {
        position: relative;
        width: 28px;
        height: 3px;
        top: 6.6px;
        background: $white;
        border: none;
        border-radius: 4px 4px 4px 4px;
        -webkit-transition: -webkit-transform 0.5s, top 0.2s;
        transition: transform 0.5s, top 0.2s;
        -webkit-transition-delay: 0.2s, 0s;
        transition-delay: 0.2s, 0s;
    }

    .sw-footer {
        position: relative;
        width: 28px;
        height: 3px;
        top: 13.5px;
        background: $white;
        border: none;
        border-radius: 4px 4px 4px 4px;
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
        -webkit-transition-delay: 0.1s;
        transition-delay: 0.1s;
    }

    .sandwich.active {
        .sw-topper {
            top: 9px;
            -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }

        .sw-bottom {
            top: 6px;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }

        .sw-footer {
            opacity: 0;
            top: 0;
            -webkit-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            transform: rotate(180deg);
        }
    }

    .top_mnu {
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: $blue;
        z-index: 50;
        right: 0;
        top: 0;
        display: none;

        ul,
        li {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

        ul {
            margin-top: 55px;
            text-align: center;
            -webkit-animation-duration: 0.01s;
            animation-duration: 0.01s;

            li {
                &:nth-child(1) a {
                    -webkit-animation-delay: 0;
                    animation-delay: 0;
                }

                &:nth-child(2) a {
                    -webkit-animation-delay: 0.1s;
                    animation-delay: 0.1s;
                }

                &:nth-child(3) a {
                    -webkit-animation-delay: 0.2s;
                    animation-delay: 0.2s;
                }

                &:nth-child(4) a {
                    -webkit-animation-delay: 0.3s;
                    animation-delay: 0.3s;
                }

                &:nth-child(5) a {
                    -webkit-animation-delay: 0.4s;
                    animation-delay: 0.4s;
                }

                &:nth-child(6) a {
                    -webkit-animation-delay: 0.5s;
                    animation-delay: 0.5s;
                }
            }

            a {
                color: $white;
                display: block;
                text-transform: uppercase;
                font-size: 12px;
                opacity: 1;
                position: relative;
                height: 40px;
                outline: none;
                font-size: 16px;


                span {
                    display: block;
                    position: relative;
                    top: -45px;
                    left: 0;
                    height: 100%;
                    -webkit-transition: all 0.5s ease;
                    transition: all 0.5s ease;

                    &:hover {
                        background-color: rgba(0, 123, 255, 0.08);
                    }
                }
            }

            a:hover {
                text-decoration: none;
            }
        }

        .more-info-box {
            -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s;
            margin-top: 20px;

            i {
                color: $white;
            }

            color: $white;
            text-align: center;

            .social-box {
                margin-bottom: 15px;

                i {
                    font-size: 22px;
                }

                a i {
                    margin-right: 10px;
                }

                a:last-child i {
                    margin-right: 0px;
                }
            }
        }
    }
}

/* 4.  Slider */
.slider {
    padding: 0;

    @media only screen and (max-device-width: 767px) {
        display: none;
    }

    .carousel-item {
        max-height: 740px;
        min-height: 740px;
        width: 100%;

        @media only screen and (max-device-width: 1199px) {
            max-height: 540px;
            min-height: 540px;
        }

        @media only screen and (max-device-width: 991px) {
            max-height: 400px;
            min-height: 400px;
        }
    }

    .carousel-item:nth-child(1) {
        background: url('../img/1.jpg') 50% no-repeat;
    }

    .carousel-item:nth-child(2) {
        background: url('../img/2.jpg') 50% no-repeat;
    }

    .carousel-item:nth-child(3) {
        background: url('../img/3.jpg') 50% no-repeat;
    }

    .carousel-indicators {
        bottom: 180px;
    }
}

/* 5.  Book Items */
.book-items {
    padding-bottom: 0;

    @media only screen and (max-device-width: 767px) {
        padding-top: 20px;
    }

    .list {
        margin-top: -300px;
        border-radius: 10px;
        background-color: $white;
        width: 100%;
        padding: 40px;

        @media only screen and (max-device-width: 767px) {
            margin-top: 0;
        }

        h1 {
            width: 100%;
            font-size: 40px;
            letter-spacing: 0px;
        }

        h1::after {
            background: url('../img/after-line.png') 50% no-repeat;
            content: '';
            display: block;
            margin: 0 auto 15px auto;
            width: 159px;
            height: 19px;
        }

        .catalog-item {
            border: 2px solid #e5e5e5;
            border-radius: 10px;
            padding: 10px;
            margin-bottom: 40px;
            opacity: 0;
            transition: 1s;

            @media only screen and (max-device-width: 991px) {
                border: none;
                margin-bottom: 15px;
            }

            @media only screen and (max-device-width: 767px) {
                border: none;
                margin-bottom: 0px;
            }

            .image-box,
            .text-box {
                width: 50%;
                float: left;

                @media only screen and (max-device-width: 991px) {
                    width: 100%;
                }
            }

            .image-box {
                height: 100%;

                @media only screen and (max-device-width: 991px) {
                    height: auto;
                }

                img {
                    max-width: 100%;
                    width: 100%;
                    border-radius: 10px;

                    @media only screen and (max-device-width: 991px) {
                        border-radius: 10px 10px 0 0;
                    }
                }
            }

            .text-box {
                text-align: left;
                padding-left: 30px;
                padding-right: 30px;
                padding-top: 10px;

                @media only screen and (max-device-width: 1199px) {
                    padding-top: 5px;
                }

                @media only screen and (max-device-width: 991px) {
                    padding-top: 30px;
                    padding-left: 15px;
                    padding-right: 15px;
                    background-color: #f1f1f1;
                    padding-bottom: 20px;
                }

                h2 {
                    font-size: 25px;
                }

                .param-box {
                    margin-top: 15px;
                    padding-bottom: 10px;
                    border-bottom: solid 1px #e5e5e5;

                    @media only screen and (max-device-width: 1199px) {
                        margin-top: 0px;
                        padding-bottom: 5px;
                    }

                    @media only screen and (max-device-width: 991px) {
                        margin-top: 15px;
                        padding-bottom: 10px;
                    }

                    @media only screen and (max-device-width: 991px) {
                        border-bottom: 0;
                    }

                    .left-box,
                    .right-box {
                        float: left;
                        width: 50%;

                        dl {
                            clear: both;
                        }

                        dt,
                        dd {
                            float: left;
                            font-size: 14px;
                            margin-bottom: 3px;
                            color: $blue;
                        }

                        dt {
                            font-family: 'Montserrat-Regular', sans-serif;
                        }

                        dd {
                            font-family: 'Montserrat-Light', sans-serif;
                        }
                    }

                    .clear {
                        clear: both;
                    }
                }

                .main-text-box {
                    padding-top: 10px;
                    font-size: 14px;

                    @media only screen and (max-device-width: 1199px) {
                        padding-top: 5px;
                    }

                    @media only screen and (max-device-width: 1199px) {
                        padding-top: 15px;
                    }

                    @media only screen and (max-device-width: 767px) {
                        display: none;
                    }

                    p {
                        @media only screen and (max-device-width: 767px) {
                            line-height: 19px;
                        }
                    }
                }

                .button-box {

                    a {
                        padding: 10px 35px;
                        background-color: rgb(95, 116, 175);
                        color: #fff;
                        display: inline-block;
                        border-radius: 30px;
                        transition: .2s;
                        float: left;
                        font-size: 14px;
                        margin-right: 10px;
                    }

                    a:hover {
                        background-color: #495e9c;
                        text-decoration: none;
                        box-shadow: 1.563px 5.863px 10px 0 rgba(0, 0, 0, 0.3);
                    }
                }
            }
        }

        .catalog-item:last-child {
            margin-bottom: 0;
        }
    }
}

/* 6.  Tabs 
.tabs{
    padding-top: 0;

    .nav.nav-tabs{
        width: 100%;
    }
}
*/

/* 7.  Fishing */
.parallax-mirror {
    top: -60px;
}

.fishing {
    margin-top: -60px;
    padding-top: 220px;

    @media only screen and (max-device-width: 991px) {
        padding-bottom: 100px;
    }

    h1 {
        text-transform: capitalize;
        font-size: 46px;
        font-family: 'Montserrat-Light', sans-serif;
        color: $white;
        text-align: center;
        width: 100%;
        display: block;
        margin-bottom: 15px;
        opacity: 0;
        transition: 1s;

        @media only screen and (max-device-width: 1199px) {
            font-size: 38px;
        }

        @media only screen and (max-device-width: 991px) {
            font-size: 28px;
        }

        @media only screen and (max-device-width: 767px) {
            font-size: 28px;
        }
    }

    h1::after {
        background: url(../img/after-line-light.png) 50% no-repeat;
        content: '';
        display: block;
        margin: 0 auto 15px auto;
        width: 159px;
        height: 19px;
    }

    .button-box {
        width: 100%;
        text-align: center;

        a {
            padding: 23px 55px;
            background-color: $white;
            color: $button-blue;
            display: inline-block;
            -webkit-border-radius: 30px;
            border-radius: 60px;
            -webkit-transition: .2s;
            -o-transition: .2s;
            transition: .2s;
            font-size: 16px;
            text-transform: uppercase;
            font-family: 'Montserrat-regular', sans-serif;
            line-height: 21px;
            opacity: 0;
            transition: 1s;

            @media only screen and (max-device-width: 991px) {
                padding: 18px 40px;
                font-size: 13px;
                line-height: 19px;
            }
        }

        a:hover {
            text-decoration: none;
            box-shadow: 3.563px 8.863px 20px 0 rgba(0, 0, 0, 0.5);
        }
    }

}

/* 8.  Cars */
.cars {

    .img-box {
        img {
            max-width: 100%;
            border-radius: 10px;
        }
    }

    .text-box {
        padding-top: 40px;
        @media only screen and (max-device-width: 991px) {
               margin-bottom: 60px;
            }
        

        h2 {
            text-transform: capitalize;
            font-size: 35px;
            font-family: 'Montserrat-Regular', sans-serif;
            color: $blue;
            text-align: center;
            width: 100%;
            display: block;
            margin-bottom: 30px;
            opacity: 0;
            transition: 1s;

            @media only screen and (max-device-width: 1199px) {
                font-size: 28px;
            }

            @media only screen and (max-device-width: 991px) {
                font-size: 24px;
                 margin-bottom: 15px;
            }

            @media only screen and (max-device-width: 767px) {
                font-size: 22px;
            }
        }

        h2::after {
            background: url(../img/after-line.png) 50% no-repeat;
            content: '';
            display: block;
            margin: 10px auto 15px auto;
            width: 159px;
            height: 19px;
        }

        .button-box {
            width: 100%;
            text-align: center;

            a {
                padding: 22px 55px;
                background-color: $light-blue;
                color: $white;
                display: inline-block;
                -webkit-border-radius: 30px;
                border-radius: 60px;
                -webkit-transition: .2s;
                -o-transition: .2s;
                transition: .2s;
                font-size: 16px;
                text-transform: uppercase;
                font-family: 'Montserrat-regular', sans-serif;
                line-height: 21px;
                opacity: 0;
                transition: 1s;

                @media only screen and (max-device-width: 991px) {
                    padding: 18px 40px;
                    font-size: 13px;
                    line-height: 19px;
                }
            }

            a:hover {
                text-decoration: none;
                box-shadow: 3.563px 8.863px 20px 0 rgba(0, 0, 0, 0.5);
            }
        }
    }
}

/* 9.  Form */
.form-box{
	background-color: $light-blue;
	color: $white;

	h2{
		color: $white;
		text-align: left;
	}

input, textarea{
	border-radius: 5px;	
}

.wpcf7#wpcf7-f8-o1 {
    width: 100%;
}

.wpcf7#wpcf7-f8-o1 .wpcf7-validation-errors {
    display: none !important;
}

.wpcf7#wpcf7-f8-o1 .wpcf7-form {
    width: 100%;
}

.wpcf7#wpcf7-f8-o1 .wpcf7-form .wpcf7-not-valid-tip {
    line-height: 35px;
}

.wpcf7#wpcf7-f8-o1 .wpcf7-form .menu-550 .wpcf7-not-valid-tip {
    line-height: 18px;
    padding-top: 12px;
}

@media only screen and (max-device-width: 575px) {
    .wpcf7#wpcf7-f8-o1 .wpcf7-form .menu-550 .wpcf7-not-valid-tip {
        line-height: 14px;
    }
}

.wpcf7#wpcf7-f8-o1 .wpcf7-form .wpcf7-validation-errors,
.wpcf7#wpcf7-f8-o1 .wpcf7-form .wpcf7-mail-sent-ok {
    margin-top: 60px;
}

.wpcf7#wpcf7-f8-o1 .wpcf7-form .help-develop {
    float: left;
    display: block;
    line-height: 60px;
    margin-right: 10px;
}

@media only screen and (max-device-width: 575px) {
    .wpcf7#wpcf7-f8-o1 .wpcf7-form .help-develop {
        line-height: 40px;
    }
}

.wpcf7#wpcf7-f8-o1 .wpcf7-form span.wpcf7-form-control-wrap {
    display: block;
    width: 100%;
    float: left;
    margin-bottom: 1%;
}

@media only screen and (max-device-width: 575px) {
    .wpcf7#wpcf7-f8-o1 .wpcf7-form span.wpcf7-form-control-wrap {
        width: 100%;
        text-align: left;
    }
}

.wpcf7#wpcf7-f8-o1 .wpcf7-form .wpcf7-form-control-wrap.menu-valute {
    width: auto;
}

@media only screen and (max-device-width: 575px) {
    .wpcf7#wpcf7-f8-o1 .wpcf7-form .wpcf7-form-control-wrap.menu-valute {
        width: 100%;
        text-align: left;
    }
}

.wpcf7#wpcf7-f8-o1 .wpcf7-form span.textarea-text {
    width: 100%;
}

.wpcf7#wpcf7-f8-o1 .wpcf7-form p input {
    width: 100%;
    float: left;
    padding: 0.75rem;
    border: solid 1px #eee;
}

@media only screen and (max-device-width: 575px) {
    .wpcf7#wpcf7-f8-o1 .wpcf7-form p input {
        width: 100%;
    }
}

.wpcf7#wpcf7-f8-o1 .wpcf7-form p select {
    height: 40px;
    margin-top: 10px;
    float: left;
}

@media only screen and (max-device-width: 575px) {
    .wpcf7#wpcf7-f8-o1 .wpcf7-form p select {
        margin-top: 0px;
    }
}

.wpcf7#wpcf7-f8-o1 .wpcf7-form p .wpcf7-email {
    margin-left: 2%;
}

@media only screen and (max-device-width: 575px) {
    .wpcf7#wpcf7-f8-o1 .wpcf7-form p .wpcf7-email {
        margin-left: 0;
        margin-top: 2%;
    }
}

.wpcf7#wpcf7-f8-o1 .wpcf7-form p .wpcf7-textarea {
    margin-top: 2%;
    padding: 0.75rem;
    border: solid 1px #eee;
    width: 100%;
}

.wpcf7#wpcf7-f8-o1 .wpcf7-form p .wpcf7-textarea,
.wpcf7#wpcf7-f8-o1 .wpcf7-form p .wpcf7-input {
    color: #888;
}

.wpcf7#wpcf7-f8-o1 .wpcf7-form p input:focus,
.wpcf7#wpcf7-f8-o1 .wpcf7-form p textarea:focus {
    outline-color: $white;
}

.wpcf7#wpcf7-f8-o1 .wpcf7-form p .wpcf7-submit {
    display: block;
    height: 60px;
    width: 230px;
    background-color: $white;
    border: none;
    color: $blue;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    cursor: pointer;
    
    border-radius: 30px;
}

.wpcf7#wpcf7-f8-o1 .wpcf7-form p .wpcf7-submit:hover {
    box-shadow: none;
    box-shadow: 1.563px 8.863px 20px 0 rgba(0, 0, 0, 0.4);
}

.wpcf7#wpcf7-f8-o1 .wpcf7-form span.textarea-comment {
    width: 100%;
}

.wpcf7#wpcf7-f8-o1 .wpcf7-form .menu-valute .wpcf7-not-valid-tip {
    line-height: 18px;
    padding-top: 12px;
}

@media only screen and (max-device-width: 575px) {
    .wpcf7#wpcf7-f8-o1 .wpcf7-form .menu-valute .wpcf7-not-valid-tip {
        line-height: 14px;
    }
}


a{
	color: $white;
}
.contact-info-box{
	padding-top: 20px;
}
}
/* 10. Footer */
footer{
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: $blue;
	color: $white;
	font-size: 11px;
}