/*  Structure

1.  Fonts including
2.  General styles
3.  Header
4.  Slider
5.  Book Items
6.  Tabs
7.  Fishing
    Yarlyk
8.  Cars
9.  Form
10. Footer

*/
/* 1. Fonts including */
@font-face {
  font-family: "Montserrat-Light";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/MontserratLight/Montserrat-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/MontserratLight/Montserrat-Light.woff") format("woff"), url("../fonts/MontserratLight/Montserrat-Light.ttf") format("truetype"); }

@font-face {
  font-family: "Montserrat-Regular";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/MontserratRegular/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/MontserratRegular/Montserrat-Regular.woff") format("woff"), url("../fonts/MontserratRegular/Montserrat-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "Montserrat-Bold";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/MontserratBold/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/MontserratBold/Montserrat-Bold.woff") format("woff"), url("../fonts/MontserratBold/Montserrat-Bold.ttf") format("truetype"); }

/* 2. General styles */
body {
  color: #1a2031;
  letter-spacing: 1px;
  font-family: 'Montserrat-Regular', sans-serif;
  min-width: 320px;
  max-width: 100%;
  font-size: 16px;
  letter-spacing: 0; }

section {
  padding: 150px 0px;
  text-align: center; }
  @media only screen and (max-device-width: 991px) {
    section {
      padding: 50px 0px; } }

h1,
h2 {
  font-size: 2rem;
  font-family: 'Montserrat-Light', sans-serif;
  color: #1a2031; }

@media only screen and (max-device-width: 767px) {
  h1 {
    font-size: 1.5rem; } }

/* 3. Header */
header {
  background-color: #1a2031;
  height: auto;
  padding: 20px 0;
  /* Mobile navigation */ }
  @media only screen and (max-device-width: 767px) {
    header {
      padding: 16px 0 20px 0; } }
  @media only screen and (max-device-width: 767px) {
    header .top-bar .logo-box {
      text-align: center;
      margin-bottom: 5px; } }
  @media only screen and (max-device-width: 400px) {
    header .top-bar .logo-box {
      margin-bottom: 12px; } }
  header .top-bar .logo-box .lang-box.for-mobile {
    display: none; }
    @media only screen and (max-device-width: 767px) {
      header .top-bar .logo-box .lang-box.for-mobile {
        display: block; } }
  header .top-bar .logo-box .top-bar__switcher-box {
    position: absolute;
    top: -20px;
    left: 0; }
    header .top-bar .logo-box .top-bar__switcher-box .dropdown {
      position: relative;
      display: inline-block;
      text-align: left;
      width: 3.5rem; }
      @media only screen and (max-device-width: 1199px) {
        header .top-bar .logo-box .top-bar__switcher-box .dropdown {
          width: 3rem; } }
      header .top-bar .logo-box .top-bar__switcher-box .dropdown .dropdown-toggle {
        font-size: 0;
        z-index: 1;
        cursor: pointer;
        position: absolute;
        top: 0;
        border: none;
        padding: 0;
        margin: 0 0 0 1px;
        background: transparent;
        text-indent: -10px;
        height: 34px;
        width: 100%;
        font-family: 'Montserrat-Regular', sans-serif; }
      header .top-bar .logo-box .top-bar__switcher-box .dropdown .dropdown-toggle::after {
        display: inline-block;
        width: 0;
        height: 0;
        margin-left: .255em;
        vertical-align: .255em;
        content: "";
        border-top: .3em solid;
        border-right: .3em solid transparent;
        border-bottom: 0;
        border-left: .3em solid transparent; }
      header .top-bar .logo-box .top-bar__switcher-box .dropdown .dropdown-text {
        cursor: pointer;
        position: absolute;
        text-indent: 10px;
        line-height: 28px;
        background-color: transperent;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        width: 100%;
        color: #fff;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        font-family: 'Montserrat-Regular', sans-serif;
        font-weight: 100;
        font-size: .8rem;
        z-index: 999; }
        @media only screen and (max-device-width: 1199px) {
          header .top-bar .logo-box .top-bar__switcher-box .dropdown .dropdown-text {
            font-size: .6rem; } }
      header .top-bar .logo-box .top-bar__switcher-box .dropdown .dropdown-text:after {
        position: absolute;
        right: 6px;
        top: 12px;
        content: '';
        width: 0px;
        height: 0px;
        border-style: solid;
        border-width: 5px 4px 0 4px;
        border-color: #fff transparent transparent transparent; }
      header .top-bar .logo-box .top-bar__switcher-box .dropdown .dropdown-content {
        -webkit-transition: all .25s ease;
        -o-transition: all .25s ease;
        transition: all .25s ease;
        list-style-type: none;
        position: absolute;
        top: 17px;
        padding: 0;
        margin: 0;
        opacity: 0;
        visibility: hidden;
        text-indent: 10px;
        line-height: 8px;
        width: 4rem;
        -webkit-border-radius: 2px;
                border-radius: 2px;
        font-family: 'Montserrat-Regular', sans-serif;
        font-weight: 100;
        font-size: .6rem;
        z-index: 999; }
        header .top-bar .logo-box .top-bar__switcher-box .dropdown .dropdown-content a {
          background-color: transparent;
          color: #fff;
          padding: 0;
          padding-left: 1px;
          font-size: 12px;
          font-family: 'Montserrat-Regular', sans-serif; }
      header .top-bar .logo-box .top-bar__switcher-box .dropdown .dropdown-text:hover ~ .dropdown-content {
        visibility: visible;
        opacity: 1; }
      header .top-bar .logo-box .top-bar__switcher-box .dropdown .dropdown-content:hover {
        visibility: visible;
        opacity: 1; }
  header .top-bar .logo-box a {
    font-family: 'Montserrat-Bold', sans-serif;
    color: #fff;
    font-size: 35px;
    line-height: 34px;
    letter-spacing: -2px;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    font-weight: 300; }
    @media only screen and (max-device-width: 991px) {
      header .top-bar .logo-box a {
        line-height: 31px; } }
    @media only screen and (max-device-width: 400px) {
      header .top-bar .logo-box a {
        font-size: 29px; } }
  header .top-bar .logo-box a:hover {
    text-decoration: none; }
  header .top-bar .social-icons-box .top-bar__switcher-box {
    margin-top: -.9rem; }
    header .top-bar .social-icons-box .top-bar__switcher-box .dropdown {
      position: relative;
      display: inline-block;
      text-align: left;
      width: 3.5rem; }
      @media only screen and (max-device-width: 1199px) {
        header .top-bar .social-icons-box .top-bar__switcher-box .dropdown {
          width: 3rem; } }
      header .top-bar .social-icons-box .top-bar__switcher-box .dropdown .dropdown-toggle {
        font-size: 0;
        z-index: 1;
        cursor: pointer;
        position: absolute;
        top: 0;
        border: none;
        padding: 0;
        margin: 0 0 0 1px;
        background: transparent;
        text-indent: -10px;
        height: 34px;
        width: 100%;
        font-family: 'Montserrat-Regular', sans-serif; }
      header .top-bar .social-icons-box .top-bar__switcher-box .dropdown .dropdown-toggle::after {
        display: inline-block;
        width: 0;
        height: 0;
        margin-left: .255em;
        vertical-align: .255em;
        content: "";
        border-top: .3em solid;
        border-right: .3em solid transparent;
        border-bottom: 0;
        border-left: .3em solid transparent; }
      header .top-bar .social-icons-box .top-bar__switcher-box .dropdown .dropdown-text {
        cursor: pointer;
        position: absolute;
        text-indent: 10px;
        line-height: 28px;
        background-color: transperent;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        width: 100%;
        color: #fff;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        font-family: 'Montserrat-Regular', sans-serif;
        font-weight: 100;
        font-size: .8rem;
        z-index: 999; }
        @media only screen and (max-device-width: 1199px) {
          header .top-bar .social-icons-box .top-bar__switcher-box .dropdown .dropdown-text {
            font-size: .6rem; } }
      header .top-bar .social-icons-box .top-bar__switcher-box .dropdown .dropdown-text:after {
        position: absolute;
        right: 6px;
        top: 12px;
        content: '';
        width: 0px;
        height: 0px;
        border-style: solid;
        border-width: 5px 4px 0 4px;
        border-color: #fff transparent transparent transparent; }
      header .top-bar .social-icons-box .top-bar__switcher-box .dropdown .dropdown-content {
        -webkit-transition: all .25s ease;
        -o-transition: all .25s ease;
        transition: all .25s ease;
        list-style-type: none;
        position: absolute;
        top: 32px;
        padding: 0;
        margin: 0;
        opacity: 0;
        visibility: hidden;
        text-indent: 10px;
        line-height: 8px;
        width: 4rem;
        -webkit-border-radius: 2px;
                border-radius: 2px;
        font-family: 'Montserrat-Regular', sans-serif;
        font-weight: 100;
        font-size: .6rem;
        z-index: 999; }
        header .top-bar .social-icons-box .top-bar__switcher-box .dropdown .dropdown-content a {
          background-color: transparent;
          color: #fff;
          padding: 0;
          padding-left: 1px;
          font-size: 12px; }
      header .top-bar .social-icons-box .top-bar__switcher-box .dropdown .dropdown-text:hover ~ .dropdown-content {
        visibility: visible;
        opacity: 1; }
      header .top-bar .social-icons-box .top-bar__switcher-box .dropdown .dropdown-content:hover {
        visibility: visible;
        opacity: 1; }
  header .top-bar .social-icons-box .social-wrapper {
    float: right; }
  header .top-bar .social-icons-box a {
    margin-right: 10px;
    padding: 5px 12px;
    background-color: #343c53;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    display: block;
    float: left; }
    @media only screen and (max-device-width: 1199px) {
      header .top-bar .social-icons-box a {
        margin-right: 3px; } }
  header .top-bar .social-icons-box a:last-child {
    margin-right: 0px; }
  header .top-bar .social-icons-box i {
    color: #a9b3d1;
    font-size: 1rem;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    margin-top: 2px; }
  header .top-bar .social-icons-box a:hover i {
    color: #fff; }
  header .top-bar .social-icons-box .wrapper-info {
    float: right;
    color: #fff;
    font-size: 12px;
    letter-spacing: 0; }
    @media only screen and (max-device-width: 991px) {
      header .top-bar .social-icons-box .wrapper-info {
        float: right; } }
    @media only screen and (max-device-width: 767px) {
      header .top-bar .social-icons-box .wrapper-info {
        font-size: 10px;
        width: 100%; } }
    header .top-bar .social-icons-box .wrapper-info .status-box {
      float: left;
      z-index: 999; }
      @media only screen and (max-device-width: 1199px) {
        header .top-bar .social-icons-box .wrapper-info .status-box {
          margin-right: 10px; } }
      @media only screen and (max-device-width: 835px) {
        header .top-bar .social-icons-box .wrapper-info .status-box {
          margin-right: 50px; } }
      @media only screen and (max-device-width: 767px) {
        header .top-bar .social-icons-box .wrapper-info .status-box {
          margin: 0 auto;
          float: unset;
          width: 270px; } }
      header .top-bar .social-icons-box .wrapper-info .status-box a {
        padding: 8px 25px;
        background-color: #343c53;
        color: #fff;
        display: inline-block;
        -webkit-border-radius: 30px;
                border-radius: 30px;
        -webkit-transition: .2s;
        -o-transition: .2s;
        transition: .2s;
        float: left;
        font-size: 14px;
        margin-right: 10px; }
        @media only screen and (max-device-width: 1199px) {
          header .top-bar .social-icons-box .wrapper-info .status-box a {
            padding: 8px 21px;
            font-size: 12px;
            margin-right: 5px; } }
        @media only screen and (max-device-width: 767px) {
          header .top-bar .social-icons-box .wrapper-info .status-box a {
            width: 100%;
            text-align: center;
            margin-bottom: 5px; } }
      @media only screen and (max-device-width: 991px) {
        header .top-bar .social-icons-box .wrapper-info .status-box a:nth-child(2) {
          display: none; } }
      header .top-bar .social-icons-box .wrapper-info .status-box a:last-child {
        background-color: #495e9c;
        margin-right: 0; }
      header .top-bar .social-icons-box .wrapper-info .status-box a:hover {
        text-decoration: none;
        -webkit-box-shadow: 1.563px 8.863px 20px 0 rgba(0, 0, 0, 0.3);
                box-shadow: 1.563px 8.863px 20px 0 rgba(0, 0, 0, 0.3);
        background-color: #fff;
        color: #343c53; }
      header .top-bar .social-icons-box .wrapper-info .status-box a:last-child:hover {
        background-color: #5f74af;
        color: #fff; }
      header .top-bar .social-icons-box .wrapper-info .status-box .pop-up-box {
        width: 100%;
        height: 100%;
        background-color: rgba(36, 36, 36, 0.99);
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9999;
        text-align: center;
        padding-top: 10%;
        display: none;
        overflow: hidden; }
        @media only screen and (max-device-width: 575px) {
          header .top-bar .social-icons-box .wrapper-info .status-box .pop-up-box {
            padding-top: 70px; } }
        @media only screen and (max-device-width: 575px) {
          header .top-bar .social-icons-box .wrapper-info .status-box .pop-up-box .widget-layout {
            max-width: 300px;
            overflow: hidden;
            margin: 0 auto; } }
        header .top-bar .social-icons-box .wrapper-info .status-box .pop-up-box .close-box {
          width: 40px;
          height: 40px;
          padding: 0;
          background-color: transparent;
          color: #fff;
          font-size: 25px;
          position: fixed;
          top: 10px;
          right: 10px;
          cursor: pointer; }
          @media only screen and (max-device-width: 575px) {
            header .top-bar .social-icons-box .wrapper-info .status-box .pop-up-box .close-box {
              top: 5px;
              right: 5px; } }
        header .top-bar .social-icons-box .wrapper-info .status-box .pop-up-box .close-box:hover {
          -webkit-box-shadow: none;
                  box-shadow: none; }
      header .top-bar .social-icons-box .wrapper-info .status-box a:hover i {
        color: #212121; }
      header .top-bar .social-icons-box .wrapper-info .status-box i {
        display: block;
        float: left;
        margin-right: 5px; }
      header .top-bar .social-icons-box .wrapper-info .status-box span {
        margin-top: -2px; }
    header .top-bar .social-icons-box .wrapper-info .adress i {
      font-size: 14px;
      margin-right: 2px; }
  @media only screen and (max-device-width: 991px) {
    header .top-bar .social-icons-box.media-box {
      display: none; } }
  header .nav-box nav.horizontal {
    text-align: center; }
    @media only screen and (max-device-width: 991px) {
      header .nav-box nav.horizontal {
        display: none; } }
    header .nav-box nav.horizontal ul {
      padding: 0; }
    header .nav-box nav.horizontal li {
      list-style: none;
      display: inline-block;
      margin-right: 75px; }
      @media only screen and (max-device-width: 1199px) {
        header .nav-box nav.horizontal li {
          margin-right: 40px; } }
    header .nav-box nav.horizontal li:last-child {
      margin-right: 0px; }
    header .nav-box nav.horizontal a {
      color: #fff;
      -webkit-transition: .2s;
      -o-transition: .2s;
      transition: .2s;
      font-family: 'Montserrat-Bold', sans-serif;
      font-weight: bold; }
    header .nav-box nav.horizontal a:hover {
      text-decoration: none;
      color: #1a2031;
      border-bottom: solid 1px #1a2031; }
    header .nav-box nav.horizontal li.current-menu-item a {
      text-decoration: none;
      color: #1a2031;
      border-bottom: solid 1px #1a2031; }
  header .toggle_mnu {
    width: 60px;
    height: 60px;
    position: fixed;
    z-index: 100;
    border: none;
    right: 20px;
    top: 5px;
    background: #1a2031;
    display: none;
    z-index: 999; }
    @media only screen and (max-device-width: 991px) {
      header .toggle_mnu {
        display: block; } }
    @media only screen and (max-device-width: 767px) {
      header .toggle_mnu {
        right: 5px; } }
    @media only screen and (max-device-width: 400px) {
      header .toggle_mnu {
        top: 0; } }
    header .toggle_mnu span {
      display: block; }
  header .toggle_mnu:hover {
    cursor: pointer; }
  header .sandwich {
    width: 28px;
    height: 28px;
    position: absolute;
    top: 8px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 200; }
  header .sw-topper {
    position: relative;
    top: 0;
    width: 28px;
    height: 3px;
    background: #fff;
    border: none;
    -webkit-border-radius: 4px 4px 4px 4px;
            border-radius: 4px 4px 4px 4px;
    -webkit-transition: -webkit-transform 0.5s, top 0.2s;
    -webkit-transition: top 0.2s, -webkit-transform 0.5s;
    transition: top 0.2s, -webkit-transform 0.5s;
    -o-transition: transform 0.5s, top 0.2s;
    transition: transform 0.5s, top 0.2s;
    transition: transform 0.5s, top 0.2s, -webkit-transform 0.5s;
    display: block; }
  header button:focus {
    outline: 0; }
  header .sw-bottom {
    position: relative;
    width: 28px;
    height: 3px;
    top: 6.6px;
    background: #fff;
    border: none;
    -webkit-border-radius: 4px 4px 4px 4px;
            border-radius: 4px 4px 4px 4px;
    -webkit-transition: -webkit-transform 0.5s, top 0.2s;
    -webkit-transition: top 0.2s, -webkit-transform 0.5s;
    transition: top 0.2s, -webkit-transform 0.5s;
    -o-transition: transform 0.5s, top 0.2s;
    transition: transform 0.5s, top 0.2s;
    transition: transform 0.5s, top 0.2s, -webkit-transform 0.5s;
    -webkit-transition-delay: 0.2s, 0s;
    -o-transition-delay: 0.2s, 0s;
       transition-delay: 0.2s, 0s; }
  header .sw-footer {
    position: relative;
    width: 28px;
    height: 3px;
    top: 13.5px;
    background: #fff;
    border: none;
    -webkit-border-radius: 4px 4px 4px 4px;
            border-radius: 4px 4px 4px 4px;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transition-delay: 0.1s;
    -o-transition-delay: 0.1s;
       transition-delay: 0.1s; }
  header .sandwich.active .sw-topper {
    top: 9px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  header .sandwich.active .sw-bottom {
    top: 6px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }
  header .sandwich.active .sw-footer {
    opacity: 0;
    top: 0;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg); }
  header .top_mnu {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #1a2031;
    z-index: 50;
    right: 0;
    top: 0;
    display: none; }
    header .top_mnu ul,
    header .top_mnu li {
      list-style-type: none;
      padding: 0;
      margin: 0; }
    header .top_mnu ul {
      margin-top: 55px;
      text-align: center;
      -webkit-animation-duration: 0.01s;
      animation-duration: 0.01s; }
      header .top_mnu ul li:nth-child(1) a {
        -webkit-animation-delay: 0;
        animation-delay: 0; }
      header .top_mnu ul li:nth-child(2) a {
        -webkit-animation-delay: 0.1s;
        animation-delay: 0.1s; }
      header .top_mnu ul li:nth-child(3) a {
        -webkit-animation-delay: 0.2s;
        animation-delay: 0.2s; }
      header .top_mnu ul li:nth-child(4) a {
        -webkit-animation-delay: 0.3s;
        animation-delay: 0.3s; }
      header .top_mnu ul li:nth-child(5) a {
        -webkit-animation-delay: 0.4s;
        animation-delay: 0.4s; }
      header .top_mnu ul li:nth-child(6) a {
        -webkit-animation-delay: 0.5s;
        animation-delay: 0.5s; }
      header .top_mnu ul a {
        color: #fff;
        display: block;
        text-transform: uppercase;
        font-size: 12px;
        opacity: 1;
        position: relative;
        height: 40px;
        outline: none;
        font-size: 16px; }
        header .top_mnu ul a span {
          display: block;
          position: relative;
          top: -45px;
          left: 0;
          height: 100%;
          -webkit-transition: all 0.5s ease;
          -o-transition: all 0.5s ease;
          transition: all 0.5s ease; }
          header .top_mnu ul a span:hover {
            background-color: rgba(0, 123, 255, 0.08); }
      header .top_mnu ul a:hover {
        text-decoration: none; }
    header .top_mnu .more-info-box {
      -webkit-animation-delay: 0.6s;
      animation-delay: 0.6s;
      margin-top: 20px;
      color: #fff;
      text-align: center; }
      header .top_mnu .more-info-box i {
        color: #fff; }
      header .top_mnu .more-info-box .social-box {
        margin-bottom: 15px; }
        header .top_mnu .more-info-box .social-box i {
          font-size: 22px; }
        header .top_mnu .more-info-box .social-box a i {
          margin-right: 10px; }
        header .top_mnu .more-info-box .social-box a:last-child i {
          margin-right: 0px; }
      header .top_mnu .more-info-box .top-bar__switcher-box {
        margin-top: -.9rem; }
        header .top_mnu .more-info-box .top-bar__switcher-box .dropdown {
          position: relative;
          display: inline-block;
          text-align: left;
          width: 4rem; }
          header .top_mnu .more-info-box .top-bar__switcher-box .dropdown .dropdown-toggle {
            font-size: 0;
            z-index: 1;
            cursor: pointer;
            position: absolute;
            top: 0;
            border: none;
            padding: 0;
            margin: 0 0 0 1px;
            background: transparent;
            text-indent: -10px;
            height: 34px;
            width: 100%;
            font-family: 'Montserrat-Regular', sans-serif; }
          header .top_mnu .more-info-box .top-bar__switcher-box .dropdown .dropdown-toggle::after {
            display: inline-block;
            width: 0;
            height: 0;
            margin-left: .255em;
            vertical-align: .255em;
            content: "";
            border-top: .3em solid;
            border-right: .3em solid transparent;
            border-bottom: 0;
            border-left: .3em solid transparent; }
          header .top_mnu .more-info-box .top-bar__switcher-box .dropdown .dropdown-text {
            cursor: pointer;
            position: absolute;
            text-indent: 10px;
            line-height: 28px;
            background-color: transperent;
            border: 1px solid #fff;
            -webkit-border-radius: 3px;
            border-radius: 3px;
            width: 100%;
            color: #fff;
            -webkit-border-radius: 2px;
            border-radius: 2px;
            font-family: 'Montserrat-Regular', sans-serif;
            font-weight: 100;
            font-size: .8rem;
            z-index: 999; }
          header .top_mnu .more-info-box .top-bar__switcher-box .dropdown .dropdown-text:after {
            position: absolute;
            right: 6px;
            top: 12px;
            content: '';
            width: 0px;
            height: 0px;
            border-style: solid;
            border-width: 5px 4px 0 4px;
            border-color: #fff transparent transparent transparent; }
          header .top_mnu .more-info-box .top-bar__switcher-box .dropdown .dropdown-content {
            -webkit-transition: all .25s ease;
            -o-transition: all .25s ease;
            transition: all .25s ease;
            list-style-type: none;
            position: absolute;
            top: 32px;
            padding: 0;
            margin: 0;
            opacity: 0;
            visibility: hidden;
            text-indent: 10px;
            line-height: 30px;
            width: 3rem;
            -webkit-border-radius: 2px;
                    border-radius: 2px;
            font-family: 'Montserrat-Regular', sans-serif;
            font-weight: 100;
            font-size: .8rem;
            z-index: 999; }
            header .top_mnu .more-info-box .top-bar__switcher-box .dropdown .dropdown-content a {
              background-color: transparent;
              color: #fff;
              padding: 0;
              padding-left: 5px;
              text-transform: none;
              font-size: 14px; }
          header .top_mnu .more-info-box .top-bar__switcher-box .dropdown .dropdown-text:hover ~ .dropdown-content {
            visibility: visible;
            opacity: 1; }
          header .top_mnu .more-info-box .top-bar__switcher-box .dropdown .dropdown-content:hover {
            visibility: visible;
            opacity: 1; }

/* 4.  Slider */
.slider {
  padding: 0; }
  .slider .carousel-item {
    max-height: 740px;
    min-height: 740px;
    width: 100%;
    padding-top: 300px; }
    @media only screen and (max-device-width: 1199px) {
      .slider .carousel-item {
        max-height: 540px;
        min-height: 540px;
        padding-top: 250px; } }
    @media only screen and (max-device-width: 991px) {
      .slider .carousel-item {
        max-height: 400px;
        min-height: 400px;
        padding-top: 180px; } }
    @media only screen and (max-device-width: 545px) {
      .slider .carousel-item {
        padding-top: 100px; } }
    .slider .carousel-item h3 {
      color: #fff;
      font-size: 50px;
      font-family: 'Montserrat-Regular', sans-serif; }
      @media only screen and (max-device-width: 1199px) {
        .slider .carousel-item h3 {
          font-size: 40px; } }
      @media only screen and (max-device-width: 991px) {
        .slider .carousel-item h3 {
          font-size: 35px; } }
  .slider .carousel-item:nth-child(1) {
    background: url("../img/1.jpg") 50% no-repeat; }
    @media only screen and (max-device-width: 767px) {
      .slider .carousel-item:nth-child(1) {
        background: url("../img/1-mobile.jpg") 50% no-repeat; } }
  .slider .carousel-item:nth-child(2) {
    background: url("../img/2.jpg") 50% no-repeat; }
    @media only screen and (max-device-width: 767px) {
      .slider .carousel-item:nth-child(2) {
        background: url("../img/2-mobile.jpg") 50% no-repeat; } }
  .slider .carousel-item:nth-child(3) {
    background: url("../img/3.jpg") 50% no-repeat; }
    @media only screen and (max-device-width: 767px) {
      .slider .carousel-item:nth-child(3) {
        background: url("../img/3-mobile.jpg") 50% no-repeat; } }

/* 5.  Book Items */
.book-items {
  padding-top: 80px; }
  @media only screen and (max-device-width: 767px) {
    .book-items {
      padding-top: 15px; } }
  .book-items .list {
    -webkit-border-radius: 10px;
            border-radius: 10px;
    background-color: #fff;
    width: 100%;
    padding: 40px; }
    .book-items .list h1 {
      width: 100%;
      font-size: 40px;
      letter-spacing: 0px; }
      @media only screen and (max-device-width: 767px) {
        .book-items .list h1 {
          font-size: 26px; } }
    .book-items .list h1::after {
      background: url("../img/after-line.png") 50% no-repeat;
      content: '';
      display: block;
      margin: 0 auto 15px auto;
      width: 159px;
      height: 19px; }
    .book-items .list .catalog-item {
      border: 2px solid #e5e5e5;
      -webkit-border-radius: 10px;
              border-radius: 10px;
      padding: 10px;
      margin-bottom: 40px;
      opacity: 0;
      -webkit-transition: 1s;
      -o-transition: 1s;
      transition: 1s; }
      @media only screen and (max-device-width: 991px) {
        .book-items .list .catalog-item {
          border: none;
          margin-bottom: 15px; } }
      @media only screen and (max-device-width: 767px) {
        .book-items .list .catalog-item {
          border: none;
          margin-bottom: 0px; } }
      .book-items .list .catalog-item .image-box,
      .book-items .list .catalog-item .text-box {
        width: 50%;
        float: left; }
        @media only screen and (max-device-width: 991px) {
          .book-items .list .catalog-item .image-box,
          .book-items .list .catalog-item .text-box {
            width: 100%; } }
      .book-items .list .catalog-item .image-box {
        height: 100%; }
        @media only screen and (max-device-width: 991px) {
          .book-items .list .catalog-item .image-box {
            height: auto; } }
        .book-items .list .catalog-item .image-box img {
          max-width: 100%;
          width: 100%;
          -webkit-border-radius: 10px;
                  border-radius: 10px; }
          @media only screen and (max-device-width: 991px) {
            .book-items .list .catalog-item .image-box img {
              -webkit-border-radius: 10px 10px 0 0;
                      border-radius: 10px 10px 0 0; } }
      .book-items .list .catalog-item .text-box {
        text-align: left;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 10px; }
        @media only screen and (max-device-width: 1199px) {
          .book-items .list .catalog-item .text-box {
            padding-top: 5px; } }
        @media only screen and (max-device-width: 991px) {
          .book-items .list .catalog-item .text-box {
            padding-top: 30px;
            padding-left: 15px;
            padding-right: 15px;
            background-color: #f1f1f1;
            padding-bottom: 20px; } }
        .book-items .list .catalog-item .text-box h2 {
          font-size: 25px; }
          @media only screen and (max-device-width: 767px) {
            .book-items .list .catalog-item .text-box h2 {
              font-size: 18px; } }
        .book-items .list .catalog-item .text-box .param-box {
          margin-top: 15px;
          padding-bottom: 10px;
          border-bottom: solid 1px #e5e5e5; }
          @media only screen and (max-device-width: 1199px) {
            .book-items .list .catalog-item .text-box .param-box {
              margin-top: 0px;
              padding-bottom: 5px; } }
          @media only screen and (max-device-width: 991px) {
            .book-items .list .catalog-item .text-box .param-box {
              margin-top: 15px;
              padding-bottom: 10px; } }
          @media only screen and (max-device-width: 991px) {
            .book-items .list .catalog-item .text-box .param-box {
              border-bottom: 0; } }
          .book-items .list .catalog-item .text-box .param-box .left-box,
          .book-items .list .catalog-item .text-box .param-box .right-box {
            float: left;
            width: 50%; }
            @media only screen and (max-device-width: 767px) {
              .book-items .list .catalog-item .text-box .param-box .left-box,
              .book-items .list .catalog-item .text-box .param-box .right-box {
                width: 100%;
                float: unset; } }
            .book-items .list .catalog-item .text-box .param-box .left-box dl,
            .book-items .list .catalog-item .text-box .param-box .right-box dl {
              clear: both; }
            .book-items .list .catalog-item .text-box .param-box .left-box dt,
            .book-items .list .catalog-item .text-box .param-box .left-box dd,
            .book-items .list .catalog-item .text-box .param-box .right-box dt,
            .book-items .list .catalog-item .text-box .param-box .right-box dd {
              float: left;
              font-size: 14px;
              margin-bottom: 3px;
              color: #1a2031; }
            .book-items .list .catalog-item .text-box .param-box .left-box dt,
            .book-items .list .catalog-item .text-box .param-box .right-box dt {
              font-family: 'Montserrat-Regular', sans-serif; }
            .book-items .list .catalog-item .text-box .param-box .left-box dd,
            .book-items .list .catalog-item .text-box .param-box .right-box dd {
              font-family: 'Montserrat-Light', sans-serif; }
          .book-items .list .catalog-item .text-box .param-box .clear {
            clear: both; }
        .book-items .list .catalog-item .text-box .main-text-box {
          padding-top: 10px;
          font-size: 14px; }
          @media only screen and (max-device-width: 1199px) {
            .book-items .list .catalog-item .text-box .main-text-box {
              padding-top: 5px; } }
          @media only screen and (max-device-width: 1199px) {
            .book-items .list .catalog-item .text-box .main-text-box {
              padding-top: 15px; } }
          @media only screen and (max-device-width: 767px) {
            .book-items .list .catalog-item .text-box .main-text-box {
              display: none; } }
          @media only screen and (max-device-width: 767px) {
            .book-items .list .catalog-item .text-box .main-text-box p {
              line-height: 19px; } }
        .book-items .list .catalog-item .text-box .button-box a {
          padding: 10px 35px;
          background-color: #5f74af;
          color: #fff;
          display: inline-block;
          -webkit-border-radius: 30px;
                  border-radius: 30px;
          -webkit-transition: .2s;
          -o-transition: .2s;
          transition: .2s;
          float: left;
          font-size: 14px;
          margin-right: 10px; }
        .book-items .list .catalog-item .text-box .button-box a:hover {
          background-color: #495e9c;
          text-decoration: none;
          -webkit-box-shadow: 1.563px 5.863px 10px 0 rgba(0, 0, 0, 0.3);
                  box-shadow: 1.563px 5.863px 10px 0 rgba(0, 0, 0, 0.3); }
    .book-items .list .catalog-item:last-child {
      margin-bottom: 0; }

/* 6.  Tabs 
.tabs{
    padding-top: 0;

    .nav.nav-tabs{
        width: 100%;
    }
}
*/
/* 7.  Fishing */
.fishing h1 {
  text-transform: capitalize;
  font-size: 46px;
  font-family: 'Montserrat-Light', sans-serif;
  color: #fff;
  text-align: center;
  width: 100%;
  display: block;
  margin-bottom: 15px;
  opacity: 0;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s; }
  @media only screen and (max-device-width: 1199px) {
    .fishing h1 {
      font-size: 38px; } }
  @media only screen and (max-device-width: 991px) {
    .fishing h1 {
      font-size: 28px; } }
  @media only screen and (max-device-width: 767px) {
    .fishing h1 {
      font-size: 22px; } }

.fishing h1::after {
  background: url(../img/after-line-light.png) 50% no-repeat;
  content: '';
  display: block;
  margin: 0 auto 15px auto;
  width: 159px;
  height: 19px; }

.fishing .button-box {
  width: 100%;
  text-align: center; }
  .fishing .button-box a {
    padding: 21px 35px;
    background-color: #fff;
    color: #5f74af;
    display: inline-block;
    -webkit-border-radius: 30px;
    border-radius: 60px;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'Montserrat-regular', sans-serif;
    line-height: 21px;
    opacity: 0;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s; }
    @media only screen and (max-device-width: 991px) {
      .fishing .button-box a {
        padding: 18px 40px;
        font-size: 13px;
        line-height: 19px; } }
  .fishing .button-box a:hover {
    text-decoration: none;
    -webkit-box-shadow: 3.563px 8.863px 20px 0 rgba(0, 0, 0, 0.5);
            box-shadow: 3.563px 8.863px 20px 0 rgba(0, 0, 0, 0.5); }

/* Yarlyk */
.yarlyk {
  padding: 30px 0;
  background-color: #f5f5f5;
  color: #1a2031;
  -webkit-box-shadow: 1px 3.863px 10px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 1px 3.863px 10px 0 rgba(0, 0, 0, 0.3); }
  @media only screen and (max-device-width: 991px) {
    .yarlyk .yarlik-item {
      margin-bottom: 10px; } }
  .yarlyk .yarlik-item .yarl-box {
    float: left;
    font-size: 40px;
    color: #1a2031;
    margin-right: 20px;
    padding-top: 8px; }
    @media only screen and (max-device-width: 1199px) {
      .yarlyk .yarlik-item .yarl-box {
        margin-right: 10px;
        font-size: 30px; } }
    @media only screen and (max-device-width: 991px) {
      .yarlyk .yarlik-item .yarl-box {
        padding-top: 0px; } }
  .yarlyk .yarlik-item .text-box {
    text-align: left;
    border-right: solid 1px #1a2031; }
    @media only screen and (max-device-width: 991px) {
      .yarlyk .yarlik-item .text-box {
        border-right: 0;
        padding-top: 5px; } }
    .yarlyk .yarlik-item .text-box h6 {
      font-family: 'Montserrat-Bold', sans-serif;
      font-size: 18px; }
      @media only screen and (max-device-width: 991px) {
        .yarlyk .yarlik-item .text-box h6 {
          margin-bottom: 0; } }
    .yarlyk .yarlik-item .text-box p {
      font-size: 14px;
      line-height: 20px;
      font-family: 'Montserrat-Light', sans-serif; }
      @media only screen and (max-device-width: 1199px) {
        .yarlyk .yarlik-item .text-box p {
          font-size: 12px;
          line-height: 18px; } }
  @media only screen and (max-device-width: 991px) {
    .yarlyk .yarlik-item:last-child .text-box p {
      margin-bottom: 0; } }
  .yarlyk .yarlik-item:last-child .text-box {
    border: none; }
  @media only screen and (max-device-width: 991px) {
    .yarlyk .yarlik-item:last-child .text-box p {
      margin-bottom: 0; } }

/* 8.  Cars */
.cars .vid-trans-item {
  margin-bottom: 20px; }

.cars .img-box img {
  max-width: 100%;
  -webkit-border-radius: 10px;
          border-radius: 10px; }

.cars .text-box {
  padding-top: 40px; }
  @media only screen and (max-device-width: 991px) {
    .cars .text-box {
      margin-bottom: 0px; } }
  .cars .text-box h2 {
    text-transform: capitalize;
    font-size: 35px;
    font-family: 'Montserrat-Regular', sans-serif;
    color: #1a2031;
    text-align: center;
    width: 100%;
    display: block;
    margin-bottom: 30px;
    opacity: 0;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s; }
    @media only screen and (max-device-width: 1199px) {
      .cars .text-box h2 {
        font-size: 28px; } }
    @media only screen and (max-device-width: 991px) {
      .cars .text-box h2 {
        font-size: 24px;
        margin-bottom: 15px; } }
    @media only screen and (max-device-width: 767px) {
      .cars .text-box h2 {
        font-size: 22px; } }
  .cars .text-box h2::after {
    background: url(../img/after-line.png) 50% no-repeat;
    content: '';
    display: block;
    margin: 10px auto 15px auto;
    width: 159px;
    height: 19px; }
  .cars .text-box .button-box {
    width: 100%;
    text-align: center; }
    .cars .text-box .button-box a {
      padding: 22px 40px;
      background-color: #343c53;
      color: #fff;
      display: inline-block;
      -webkit-border-radius: 30px;
      border-radius: 60px;
      -webkit-transition: .2s;
      -o-transition: .2s;
      transition: .2s;
      font-size: 16px;
      text-transform: uppercase;
      font-family: 'Montserrat-regular', sans-serif;
      line-height: 21px;
      opacity: 0;
      -webkit-transition: 1s;
      -o-transition: 1s;
      transition: 1s; }
      @media only screen and (max-device-width: 991px) {
        .cars .text-box .button-box a {
          padding: 18px 40px;
          font-size: 13px;
          line-height: 19px; } }
    .cars .text-box .button-box a:hover {
      text-decoration: none;
      -webkit-box-shadow: 3.563px 8.863px 20px 0 rgba(0, 0, 0, 0.3);
              box-shadow: 3.563px 8.863px 20px 0 rgba(0, 0, 0, 0.3); }

/* 9.  Form */
.form-box {
  background: url("../img/bg-cantact.jpg");
  color: #fff;
  -webkit-background-size: cover;
          background-size: cover; }
  .form-box h2 {
    color: #fff;
    text-align: left; }
    @media only screen and (max-device-width: 767px) {
      .form-box h2 {
        font-size: 22px; } }
  .form-box input,
  .form-box textarea {
    -webkit-border-radius: 5px;
            border-radius: 5px; }
  .form-box .wpcf7#wpcf7-f5-o1 {
    width: 100%; }
  .form-box .wpcf7#wpcf7-f5-o1 .wpcf7-validation-errors {
    display: none !important; }
  .form-box .wpcf7#wpcf7-f5-o1 .wpcf7-form {
    width: 100%; }
  .form-box .wpcf7#wpcf7-f5-o1 .wpcf7-form .wpcf7-not-valid-tip {
    line-height: 35px; }
  .form-box .wpcf7#wpcf7-f5-o1 .wpcf7-form .menu-550 .wpcf7-not-valid-tip {
    line-height: 18px;
    padding-top: 12px; }
  @media only screen and (max-device-width: 575px) {
    .form-box .wpcf7#wpcf7-f5-o1 .wpcf7-form .menu-550 .wpcf7-not-valid-tip {
      line-height: 14px; } }
  .form-box .wpcf7#wpcf7-f5-o1 .wpcf7-form .wpcf7-validation-errors,
  .form-box .wpcf7#wpcf7-f5-o1 .wpcf7-form .wpcf7-mail-sent-ok {
    margin-top: 60px; }
  .form-box .wpcf7#wpcf7-f5-o1 .wpcf7-form .help-develop {
    float: left;
    display: block;
    line-height: 60px;
    margin-right: 10px; }
  @media only screen and (max-device-width: 575px) {
    .form-box .wpcf7#wpcf7-f5-o1 .wpcf7-form .help-develop {
      line-height: 40px; } }
  .form-box .wpcf7#wpcf7-f5-o1 .wpcf7-form span.wpcf7-form-control-wrap {
    display: block;
    width: 100%;
    float: left;
    margin-bottom: 1%; }
  @media only screen and (max-device-width: 575px) {
    .form-box .wpcf7#wpcf7-f5-o1 .wpcf7-form span.wpcf7-form-control-wrap {
      width: 100%;
      text-align: left; } }
  .form-box .wpcf7#wpcf7-f5-o1 .wpcf7-form .wpcf7-form-control-wrap.menu-valute {
    width: auto; }
  @media only screen and (max-device-width: 575px) {
    .form-box .wpcf7#wpcf7-f5-o1 .wpcf7-form .wpcf7-form-control-wrap.menu-valute {
      width: 100%;
      text-align: left; } }
  .form-box .wpcf7#wpcf7-f5-o1 .wpcf7-form span.textarea-text {
    width: 100%; }
  .form-box .wpcf7#wpcf7-f5-o1 .wpcf7-form p input {
    width: 100%;
    float: left;
    padding: 0.75rem;
    border: solid 1px #eee; }
  @media only screen and (max-device-width: 575px) {
    .form-box .wpcf7#wpcf7-f5-o1 .wpcf7-form p input {
      width: 100%; } }
  .form-box .wpcf7#wpcf7-f5-o1 .wpcf7-form p select {
    height: 40px;
    margin-top: 10px;
    float: left; }
  @media only screen and (max-device-width: 575px) {
    .form-box .wpcf7#wpcf7-f5-o1 .wpcf7-form p select {
      margin-top: 0px; } }
  .form-box .wpcf7#wpcf7-f5-o1 .wpcf7-form p .wpcf7-email {
    margin-left: 0; }
  @media only screen and (max-device-width: 575px) {
    .form-box .wpcf7#wpcf7-f5-o1 .wpcf7-form p .wpcf7-email {
      margin-left: 0;
      margin-top: 0; } }
  .form-box .wpcf7#wpcf7-f5-o1 .wpcf7-form p .wpcf7-textarea {
    margin-top: 2%;
    padding: 0.75rem;
    border: solid 1px #eee;
    width: 100%; }
  .form-box .wpcf7#wpcf7-f5-o1 .wpcf7-form p .wpcf7-textarea,
  .form-box .wpcf7#wpcf7-f5-o1 .wpcf7-form p .wpcf7-input {
    color: #888; }
  .form-box .wpcf7#wpcf7-f5-o1 .wpcf7-form p input:focus,
  .form-box .wpcf7#wpcf7-f5-o1 .wpcf7-form p textarea:focus {
    outline-color: #fff; }
  .form-box .wpcf7#wpcf7-f5-o1 .wpcf7-form p .wpcf7-submit {
    display: block;
    height: 60px;
    width: 230px;
    background-color: #fff;
    border: none;
    color: #1a2031;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    cursor: pointer;
    -webkit-border-radius: 30px;
            border-radius: 30px; }
  .form-box .wpcf7#wpcf7-f5-o1 .wpcf7-form p .wpcf7-submit:hover {
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-box-shadow: 1.563px 8.863px 20px 0 rgba(0, 0, 0, 0.4);
            box-shadow: 1.563px 8.863px 20px 0 rgba(0, 0, 0, 0.4); }
  .form-box .wpcf7#wpcf7-f5-o1 .wpcf7-form span.textarea-comment {
    width: 100%; }
  .form-box .wpcf7#wpcf7-f5-o1 .wpcf7-form .menu-valute .wpcf7-not-valid-tip {
    line-height: 18px;
    padding-top: 12px; }
  @media only screen and (max-device-width: 575px) {
    .form-box .wpcf7#wpcf7-f5-o1 .wpcf7-form .menu-valute .wpcf7-not-valid-tip {
      line-height: 14px; } }
  .form-box .wpcf7#wpcf7-f27-o1 {
    width: 100%; }
  .form-box .wpcf7#wpcf7-f27-o1 .wpcf7-validation-errors {
    display: none !important; }
  .form-box .wpcf7#wpcf7-f27-o1 .wpcf7-form {
    width: 100%; }
  .form-box .wpcf7#wpcf7-f27-o1 .wpcf7-form .wpcf7-not-valid-tip {
    line-height: 35px; }
  .form-box .wpcf7#wpcf7-f27-o1 .wpcf7-form .menu-550 .wpcf7-not-valid-tip {
    line-height: 18px;
    padding-top: 12px; }
  @media only screen and (max-device-width: 575px) {
    .form-box .wpcf7#wpcf7-f27-o1 .wpcf7-form .menu-550 .wpcf7-not-valid-tip {
      line-height: 14px; } }
  .form-box .wpcf7#wpcf7-f27-o1 .wpcf7-form .wpcf7-validation-errors,
  .form-box .wpcf7#wpcf7-f27-o1 .wpcf7-form .wpcf7-mail-sent-ok {
    margin-top: 60px; }
  .form-box .wpcf7#wpcf7-f27-o1 .wpcf7-form .help-develop {
    float: left;
    display: block;
    line-height: 60px;
    margin-right: 10px; }
  @media only screen and (max-device-width: 575px) {
    .form-box .wpcf7#wpcf7-f27-o1 .wpcf7-form .help-develop {
      line-height: 40px; } }
  .form-box .wpcf7#wpcf7-f27-o1 .wpcf7-form span.wpcf7-form-control-wrap {
    display: block;
    width: 100%;
    float: left;
    margin-bottom: 1%; }
  @media only screen and (max-device-width: 575px) {
    .form-box .wpcf7#wpcf7-f27-o1 .wpcf7-form span.wpcf7-form-control-wrap {
      width: 100%;
      text-align: left; } }
  .form-box .wpcf7#wpcf7-f27-o1 .wpcf7-form .wpcf7-form-control-wrap.menu-valute {
    width: auto; }
  @media only screen and (max-device-width: 575px) {
    .form-box .wpcf7#wpcf7-f27-o1 .wpcf7-form .wpcf7-form-control-wrap.menu-valute {
      width: 100%;
      text-align: left; } }
  .form-box .wpcf7#wpcf7-f27-o1 .wpcf7-form span.textarea-text {
    width: 100%; }
  .form-box .wpcf7#wpcf7-f27-o1 .wpcf7-form p input {
    width: 100%;
    float: left;
    padding: 0.75rem;
    border: solid 1px #eee; }
  @media only screen and (max-device-width: 575px) {
    .form-box .wpcf7#wpcf7-f27-o1 .wpcf7-form p input {
      width: 100%; } }
  .form-box .wpcf7#wpcf7-f27-o1 .wpcf7-form p select {
    height: 40px;
    margin-top: 10px;
    float: left; }
  @media only screen and (max-device-width: 575px) {
    .form-box .wpcf7#wpcf7-f27-o1 .wpcf7-form p select {
      margin-top: 0px; } }
  .form-box .wpcf7#wpcf7-f27-o1 .wpcf7-form p .wpcf7-email {
    margin-left: 0; }
  @media only screen and (max-device-width: 575px) {
    .form-box .wpcf7#wpcf7-f27-o1 .wpcf7-form p .wpcf7-email {
      margin-left: 0;
      margin-top: 0; } }
  .form-box .wpcf7#wpcf7-f27-o1 .wpcf7-form p .wpcf7-textarea {
    margin-top: 2%;
    padding: 0.75rem;
    border: solid 1px #eee;
    width: 100%; }
  .form-box .wpcf7#wpcf7-f27-o1 .wpcf7-form p .wpcf7-textarea,
  .form-box .wpcf7#wpcf7-f27-o1 .wpcf7-form p .wpcf7-input {
    color: #888; }
  .form-box .wpcf7#wpcf7-f27-o1 .wpcf7-form p input:focus,
  .form-box .wpcf7#wpcf7-f27-o1 .wpcf7-form p textarea:focus {
    outline-color: #fff; }
  .form-box .wpcf7#wpcf7-f27-o1 .wpcf7-form p .wpcf7-submit {
    display: block;
    height: 60px;
    width: 230px;
    background-color: #fff;
    border: none;
    color: #1a2031;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    cursor: pointer;
    -webkit-border-radius: 30px;
            border-radius: 30px; }
  .form-box .wpcf7#wpcf7-f27-o1 .wpcf7-form p .wpcf7-submit:hover {
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-box-shadow: 1.563px 8.863px 20px 0 rgba(0, 0, 0, 0.4);
            box-shadow: 1.563px 8.863px 20px 0 rgba(0, 0, 0, 0.4); }
  .form-box .wpcf7#wpcf7-f27-o1 .wpcf7-form span.textarea-comment {
    width: 100%; }
  .form-box .wpcf7#wpcf7-f27-o1 .wpcf7-form .menu-valute .wpcf7-not-valid-tip {
    line-height: 18px;
    padding-top: 12px; }
  @media only screen and (max-device-width: 575px) {
    .form-box .wpcf7#wpcf7-f27-o1 .wpcf7-form .menu-valute .wpcf7-not-valid-tip {
      line-height: 14px; } }
  .form-box a {
    color: #fff; }
  .form-box .contact-info-box {
    padding-top: 20px;
    text-align: left; }
    @media only screen and (max-device-width: 767px) {
      .form-box .contact-info-box {
        padding-top: 50px;
        text-align: center;
        font-size: 14px; } }
    .form-box .contact-info-box ul li {
      padding-left: 15px; }
      @media only screen and (max-device-width: 767px) {
        .form-box .contact-info-box ul li {
          padding-left: 0px; } }
    .form-box .contact-info-box ul li:first-child {
      padding-left: 0px; }

/* 10. Footer */
footer {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #1a2031;
  color: #fff;
  font-size: 11px; }
